@font-face {
    font-family: "Lato";
    src: url('./fonts/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}

:root {
    --white: #FFFFFF;
    --gray: #F1F1F1;
    --blue: #1A73E8;
    --dark-gray: #1E2229;
    --red: #FF4D4F;
    --hover-red: #FF7476;
    --hover-blue: #4285F4;
    --green: #28a745;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    background: var(--gray);
}

#content {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;    grid-template-columns: 260px 1fr;
}

.top-bar {
    border-bottom: 4px solid var(--dark-gray);
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 10px 20px;
    background: var(--blue);
    color: var(--white);
}

.toggle-sidebar {
    background: none;
    border: none;
    grid-column: 1;
    cursor: pointer;
}

.toggle-sidebar svg {
    fill: var(--white);
    height: 40px;
    width: 40px;
}

.top-bar h1 {
    font-size: 2.5rem;
    grid-column: 2;
    text-align: center;
}

.sidebar {
    grid-column: 1;
    grid-row: 2;
    background: var(--white);
    width: 260px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 40px;
}

.home > h2,
.projects > h2 {
    font-size: 2rem;
    color: var(--dark-gray);
    border-bottom: 2px solid var(--dark-gray);
    padding-bottom: 4px;
    margin-bottom: 12px;
}

.home-option,
.add-project {
    width: 220px;
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 24px;
    border: none;
    border-radius: 10px;
    background: none;
    cursor: pointer;
    padding-left: 20px;
}

.project-item {
    position: relative;
    width: 220px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.home-option:hover,
.add-project:hover,
.project-item:hover .project-tab {
    background-color: var(--gray);
}

.project-tab {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 24px;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    border-radius: 10px;
}

.project-opt {
    display: flex;
    gap: 4px;
    position: absolute;
    right: 20px;
    margin: auto; 
}

.project-opt-btn {  
    height: 24px;
    width: 24px;
    opacity: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.project-item:hover .project-opt-btn {
    opacity: 1;
}

.home-option svg,
.add-project svg,
.project-item svg,
.project-item img {
    height: 20px;
    width: 20px;
    gap: 10px;
    fill: var(--dark-gray)
}

.add-project svg {
    border-radius: 50%;
    border: 1.5px solid var(--dark-gray);
}

.home-option p,
.add-project p,
.project-tab p {
    font-size: 1rem;
    color: var(--dark-gray);
}

.project-controls {
    display: flex;
    flex-direction: column;
}

.new-project,
.edit-project {
    border: 1px solid var(--dark-gray);
    border-radius: 10px;
    padding: 20px;
    width: 220px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
}

label[for="project-name"],
label[for="new-name"] {
    font-size: 1rem;
    color: var(--dark-gray);
}

input[id="project-name"],
input[id="new-name"] {
    width: 180px;
    height: 28px;
    border-radius: 12px;
    border: 1px solid var(--dark-gray);
    padding: 0 12px;
    color: var(--dark-gray);
    font-size: 0.9rem;
}

input[id="project-name"]:focus,
input[id="new-name"]:focus {
    outline: none;
}

.create-proj-opt,
.edit-proj-opt {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.create-proj,
.cancel-proj,
.rename-proj {
    width: 100px;
    height: 28px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 0.8rem;
    color: var(--white);
}

.create-proj,
.rename-proj {
    background: var(--blue);
}

.cancel-proj {
    background: var(--red);
}

.create-proj:hover,
.rename-proj:hover {
    background: var(--hover-blue)
}

.cancel-proj:hover {
    background: var(--hover-red);
}

.main {
    grid-column: 2;
    grid-row: 2;
    padding: 20px;
    position: relative;
}

.project-header {
    height: 60px;
    background-color: var(--blue);
    align-content: center;
    text-align: center;
    color: var(--white);
    border-radius: 28px;
    border: 2px solid var(--dark-gray);
    margin-bottom: 20px;
}

.add-todo {
    border-radius: 50%;
    border: 2px solid var(--dark-gray);
    height: 100px;
    width: 100px;
    background-color: var(--blue);
    font-size: 4rem;
    color: var(--white);
    position: absolute;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
}

.add-todo:hover {
    background: var(--hover-blue);
}

.todo-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.todo-tab {
    background: var(--white);
    border: 2px solid var(--dark-gray);
    height: 60px;
    border-radius: 28px;
    padding: 2px;
    display: flex;
    justify-content: space-between;
}

.todo-basic-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
}

.todo-basic-info svg {
    height: 40px;
    width: 40px;
    border-radius: 12px;
    background: var(--green);
}

.todo-name {
    font-weight: 800;
    color: var(--dark-gray);
    font-size: 1.2rem;
}

.todo-date {
    color: var(--dark-gray);
    font-size: 1rem;
}

.todo-state {
    display: flex;
    gap: 10px;
    margin-right: 20px;
    align-items: center;
}

.todo-priority-high {
    border: 2px solid var(--red);
    padding: 2px 8px;
    color: var(--red);
    border-radius: 16px;
}

.delete-todo,
.view-todo {
    height: 40px;
    width: 40px;
    border: none;
    background: none;
    border-radius: 10px;
    cursor: pointer;
}

.delete-todo svg, 
.view-todo svg {
    height: 28px;
    width: 28px;
}

.delete-todo:hover,
.view-todo:hover {
    background: var(--gray);
}

.todo-dialog {
   overflow: hidden;
   border: none;
   border-radius: 32px;
   margin: auto;
}

.todo-dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.dialog-form {
    height: 640px;
    width: 400px;
    border: 2px solid var(--dark-gray);
    border-radius: 32px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: var(--dark-gray);
}

.dialog-title {
    margin: 0;
    text-align: center;
    color: var(--blue);
    font-size: 2rem;
}

.dialog-text-ipt,
.dialog-desc,
.dialog-date,
.dialog-notes {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

label[for="todo-title"],
label[for="todo-description"],
label[for="todo-notes"],
.dialog-priority legend {
    font-size: 1.1rem;
}

#todo-title,
#todo-description,
#todo-due-date,
#todo-notes {
    border: 1px solid var(--dark-gray);
    border-radius: 12px;
    font-size: 1rem;
    font: inherit;
}

#todo-title,
#todo-due-date {
    height: 28px;
    padding: 0 12px;
}

#todo-description,
#todo-notes {
    height: 80px;
    padding: 10px 12px;
    resize: none;
}

#todo-due-date {
    width: 146px;
}

#todo-title:focus,
#todo-description:focus,
#todo-due-date:focus,
#todo-notes:focus {
    outline: none;
}

.dialog-priority {
    border: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.dialog-priority legend {
    margin-bottom: 0.5rem;
}

.priority-option {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
}

.dialog-options {
    display: flex;
    gap: 10px;
}

.dialog-submit,
.dialog-cancel {
    width: 86px;
    height: 36px;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    font-size: 1.1rem;
    color: var(--white);
}

.dialog-submit {
    background: var(--blue);
}

.dialog-cancel {
    background: var(--red);
}

.dialog-submit:hover {
    background: var(--hover-blue);
}

.dialog-cancel:hover {
    background: var(--hover-red);
}