@font-face {
    font-family: "Lato";
    src: url('./fonts/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}

:root {
    --white: #FFFFFF;
    --gray: #F1F1F1;
    --blue: #1A73E8;
    --dark-gray: #1E2229;
    --red: #FF4D4F;
    --hover-red: #FF7476;
    --hover-blue: #4285F4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    background: var(--gray);
}

#content {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
}

.top-bar {
    border-bottom: 4px solid var(--dark-gray);
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 10px 20px;
    background: var(--blue);
    color: var(--white);
}

.toggle-sidebar {
    background: none;
    border: none;
    grid-column: 1;
    cursor: pointer;
}

.toggle-sidebar svg {
    fill: var(--white);
    height: 40px;
    width: 40px;
}

.top-bar h1 {
    font-size: 2.5rem;
    grid-column: 2;
    text-align: center;
}

.sidebar {
    background: var(--white);
    width: 260px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 40px;
}

.home > h2,
.projects > h2 {
    font-size: 2rem;
    color: var(--dark-gray);
    border-bottom: 2px solid var(--dark-gray);
    padding-bottom: 4px;
    margin-bottom: 12px;
}

.home-option,
.add-project {
    width: 220px;
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 24px;
    border: none;
    border-radius: 10px;
    background: none;
    cursor: pointer;
    padding-left: 20px;
}

.project-item {
    position: relative;
    width: 220px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.home-option:hover,
.add-project:hover,
.project-item:hover .project-tab {
    background-color: var(--gray);
}

.project-tab {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 24px;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    border-radius: 10px;
}

.project-opt-btn {
    position: absolute;
    right: 20px;
    margin: auto;   
    height: 20px;
    width: 20px;
    opacity: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.project-item:hover .project-opt-btn {
    opacity: 1;
}

.home-option svg,
.add-project svg,
.project-item svg,
.project-item img {
    height: 20px;
    width: 20px;
    gap: 10px;
    fill: var(--dark-gray)
}

.add-project svg {
    border-radius: 50%;
    border: 1.5px solid var(--dark-gray);
}

.home-option p,
.add-project p,
.project-tab p {
    font-size: 1rem;
    color: var(--dark-gray);
}

.project-controls {
    display: flex;
    flex-direction: column;
}

.new-project {
    border: 1px solid var(--dark-gray);
    border-radius: 10px;
    padding: 20px;
    width: 220px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
}

label[for="project-name"] {
    font-size: 1rem;
    color: var(--dark-gray);
}

input[id="project-name"] {
    width: 180px;
    height: 28px;
    border-radius: 12px;
    border: 1px solid var(--dark-gray);
    padding: 0 12px;
    color: var(--dark-gray);
    font-size: 0.9rem;
}

input[id="project-name"]:focus {
    outline: none;
}

.create-proj-opt {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.create-proj,
.cancel-proj {
    width: 100px;
    height: 28px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 0.8rem;
    color: var(--white);
}

.create-proj {
    background: var(--blue);
}

.cancel-proj {
    background: var(--red);
}

.create-proj:hover {
    background: var(--hover-blue)
}

.cancel-proj:hover {
    background: var(--hover-red);
}